:root {
    --orange: #ff9900;
    --opacOrange: #FFCA7A;
    --paragraph: 1.7rem;
    --paragraphColor: #0d1e27;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    color: var(--paragraphColor);
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2 {
    font-weight: 700;
    font-family: 'Montserrat';

}

h1 {
    font-size: 4.8rem;
    padding-bottom: .4rem;
}

h2 {
    font-size: 2.2rem;
}

p {
    font-size: var(--paragraph);
}

a {
    text-decoration: none;
    color: #0E65BA;
}

.title {
    font-size: 2.9rem;
    padding-bottom: 1.1rem;
}

#container {
    width: 95rem;
    margin: 0 auto;
    background-color: #ffebcc;
    padding: 6rem;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2rem;
}

img {
    width: 12rem;
    height: auto;
    border: 1px solid black;
}

.tag-box p {
    padding-bottom: .8rem;
}

.tag-box p a:last-child{
    padding-left: 1rem;
}

.opacity{
    opacity: .3;
}

/* Main */
#main {
    display: flex;
    justify-content: space-between;
}

#left {
    flex: 70%;
    padding-right: 2rem;
}

#right {
    flex: 30%;
    padding-left: 1rem;
}

.section-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1.4rem;
}

hr {
    flex: 1;
    height: 1px;
    margin-left: 1rem;
    opacity: .3;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container-box {
    flex: 50%;
}

.flex-container-box-left {
    padding-right: 3rem;
}

/* Left */
section {
    margin-bottom: 3rem;
}

.page-break{
    margin-top: 12rem;
    padding-top: 11rem;
}

.section-sub-title,
.organization {
    padding-bottom: 1rem;
    font-size: 1.9rem;
}

.section-sub-title {
    display: flex;
    justify-content: space-between;
}

.abilities {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.abilities li {
    border: 1px solid var(--opacOrange);
    font-size: var(--paragraph);
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding: .2rem .8rem;
    border-radius: 1.3rem;
    background-color: var(--opacOrange);
    color: var(--paragraphColor);
    
}


/* Right */
.skill {
    margin-bottom: 3rem;
}

.skill-title {
    font-size: 2rem;
    padding-bottom: .4rem;
}

.dgree-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: .4rem;
}

.degree {
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    transform: skewX(-22deg);
    background: var(--orange);
}

.empty {
    opacity: .2;
}

/* Footer */
footer{
    padding: 1rem;
    text-align: center;
    background-color: var(--orange);
    color: var(--paragraphColor);
    font-family: 'Roboto Serif', sans-serif;
    font-size: 1.6rem;
    border-radius: 10px;
    margin-top: 8rem;
}